@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffaf13;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

a {
  color: #333;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

form {
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

button:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  form {
    padding: 15px;
  }
  
  input[type="text"] {
    padding: 8px;
  }
  
  button {
    padding: 8px 15px;
  }
}
