body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffaf13;
    color: #333;
    margin-top: 200px; /* Increased margin-top */
}

.font {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-top: 30px; /* Adjusted margin-top */
}

.font1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: #333;
    text-align: center;
    margin-top: 30px; /* Adjusted margin-top */
}

.font-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    text-align: center;
    margin-top: 30px; /* Adjusted margin-top */
}

.rounded-square-container {
    display: block;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    color: #f89c22;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    width: 250px;
    margin-left: auto;
    margin-right: auto; /* Center align */
    margin-top: 70px; /* Adjusted margin-top */
    margin-bottom: 30px; /* Increased margin-bottom */
}

.rounded-square-container:hover {
    background-color: #fa8328;
    transform: scale(1.02);
}

.column {
    flex: 50%;
    padding: 0 5px;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
        padding: 0;
    }
}
